{% extends "index.html" %}

{% block titulo %}
    Frases de {{ autor.nombre }}
{% endblock titulo %}

{% block contenido %}
<h1>Frases de {{ autor.nombre }}</h1>

<ul class="list-group list-group-flush">
    {% for frase in frases %}
    <li class="list-group-item">
        <p class="h5">{{ frase.frase }}</p>
        <p>({{ frase.fecha_frase }}) &middot; {{ frase.comentarios }}</p>
    </li>
    {% endfor %}
</ul>
<p><a href="{% url 'autores:detalle_autor' autor.id %}">Ir al autor</a></p>
{% endblock contenido %}